{{ember-youtube video=cursor.youtubeVideo.youtubeId isPlaying=cursor.isPlaying isMuted=cursor.isMuted}}


{{input type=text value=videoId}}

<button {{action 'addVideo' videoId}}>
  Add video id
</button>